@import "./variables.scss";

//Стили кнопки "Наверх"
.buttonUp {
    position: fixed;
    bottom: 0;
    right: 2vw;
    z-index: 1100;

    a {
        font-size: 4rem;
        color: $green_color;
        opacity: 0.5;
    }

    a:hover {
        transition: all 0.8s;
        opacity: 1;
    }
    
    a:active, a:focus, a:visited {
        opacity: 0.5;
    }
}

//Стили для ширины экрана менее 750px
@media(max-width: 749px) {
    .buttonUp {
        a {
            font-size: 2.5rem;
        }
    }
}