@import "./variables.scss";

//Стили футера
footer {
    display:flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    padding: 1vh 1vh;
    font-size: 1.3rem;
    font-weight: bold;
    background: $gray_color;
}

//Стили для ширины экрана менее 750px
@media(max-width: 749px) {
    footer {
        font-size: 1rem;
    }
}